.logobtn1{
    background-color: violet;
    box-shadow: none;
   border-radius: 26px;
   font-family: "GT Haptik Medium", sans-serif;
   line-height: 18.4px;
   text-align: center;
   font-size: 16px;
   letter-spacing: normal;
   height: 50px;
   width: 250px;
   color: white;
   font-weight: bold;
   padding:10px;
   
}
.logobtn1:hover{
background: #564260;
}
.companylogo_main_div{
    background-color: #2c1338;
 
    
}